<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Observer Home</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="center">Hello 
          {% if observer_id %}        {{ observer_id }}        {% endif %}
      </h2>
        {% if task_msg %}
      <p class="text-info">Message:{{ Task_msg }}</p>
      {% else %}
      <ul>
      {% for i in task_list %}
       <li>Task: {{ i }}</li>
      {% endfor %}
      </ul>
      {% endif %}
  
        <br>
        <form action="/observer/add_task" method="post">
          {% csrf_token %}
          <input type="text" name="task_name" placeholder="Task" required>
          <button type="submit" class="btn btn-outline-success">Add Task</button>
      </form>
      <div>
        {% if add_task_msg %}
        <p class="text-info">Message:{{ add_task_msg }}</p>
        {% endif %}
      </div>
  
      <hr>
      <a href="/observer/logout"><button type="button" class="btn btn-success">Logout</button></a>
      </div>
      <div class="col">
        <br><br>
        <form action="/participant/activity" method="post">
          {% csrf_token %}
          <input type="text" name="participant_email" placeholder="Participant Email" required><br>
          <input type="text" name="participant_name" placeholder="Participant Name" required><br>
          <input type="text" name="participant_age" placeholder="Participant Age" required><br>

          Gender:
          <input type="radio" id="male" name="participant_gender" value="male">
          <label for="html">Male</label>
          <input type="radio" id="female" name="participant_gender" value="female">
          <label for="css">Female</label><br>

          {% for i in task_list %}
          <input type="checkbox" name="participant_tasks" value="{{ i }}" >
          <label for="participant_tasks">{{i}}</label><br>
          {% endfor %}
          <button type="submit" class="btn btn-outline-success">Perform Activity</button>
        </form>
        <div>
          {% if perform_activity_msg %}
        <p class="text-info">Message:{{ perform_activity_msg }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>