{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/album.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
<link rel="stylesheet" href="http://horz.ydns.eu:81/style.css">

<meta name="theme-color" content="#7952b3">


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>
<body>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              {% for task in tasks %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" onclick="initRecordingArea('recording-area', {{task.task_id}})">
                    <span data-feather="home"></span>
                    {{task.task_title}}(#{{task.task_id}})
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id = "recording-area" style="display:none;">

          <img src="{% url 'video_feed' %}">
          <span style="display:none" id = "hidden-task-id"></span>
          <span style="display: none;" id = "hidden-participant-id">{{pid.pid}}</span>  
          <button class="button-21" type='button'id="but1" onclick="capture_toggle()" >Record</button>
          <div id="1" style="display: none">
            <video id="vid" controls >
              <source id="ch_src" src="{% url 'saved_vid' %}" type='video/mp4'/>
            </video>
          </div>
          <div id="2" style="display: none">
            <button class="button-21" type='button'id="but2" onclick="play_pause()" >Pause
            </button>
          </div>
          <div id="upload" style="display: none">
            <button class="button-21" type='button'id="but2" onclick="upload()" >Upload
            </button>
          </div>
        </main>
      </div>
    </div>







    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/popper.min.js' %}"> </script>
    <script src="{% static 'js/holder.min.js' %}"> </script>
    <script src="{% static 'js/dashboard.js' %}"> </script>
  </body>


  <script type="text/javascript">
      //  
    function capture_toggle() {
        elem = document.getElementById("but1");
        upload_button = document.getElementById("upload");
        div2 = document.getElementById("2");
        div1 = document.getElementById("1");
      $.ajax({
        method: "POST",
        url: "{% url 'toggle' %}",
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
          if (elem.innerHTML=="Record"){
            elem.innerHTML = "Stop Recording";
            div2.style.display="inline"
            div1.style.display="none"
          } 
          else if (elem.innerHTML=="Stop Recording"){
            elem.innerHTML = "Record";
            document.getElementById("vid").load();
            div2.style.display="none"
            div1.style.display="inline"
            upload_button.style.display = "inline"
          } 
        },
        error: function (response) {
                alert(response);
            }
      })
    };

    function play_pause(){
      but2 = document.getElementById("but2");
      div1 = document.getElementById("but1");
      $.ajax({
        method: "POST",
        url: "{% url 'pause_vid' %}",
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
          if (but2.innerHTML=="Pause"){
            but2.innerHTML = "Resume";
            div1.style.display="none"
          } 
          else{
            but2.innerHTML = "Pause";
            div1.style.display="inline"
          } 
        },
        error: function (response) {
                alert(response);
            }
      })
    };

    function upload() {
      let task_elem = document.getElementById("hidden-task-id")
      let participant_elem = document.getElementById("hidden-participant-id")

      $.ajax({
        method: "POST",
        url: "{% url 'upload' %}",
        data: {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          'task_id': task_elem.innerHTML,
          'participant_id': participant_elem.innerHTML
        },
        success: function(data) {
          alert("Successfully saved recording")
        },
        error: function (response) {
                alert(response);
            }
      })
    };

    function initRecordingArea(id, task_id) {
      let element = document.getElementById(id);
      element.style.display = "block";

      let task_elem = document.getElementById("hidden-task-id")
      task_elem.innerHTML = task_id
    };
    </script>
</html>
